mat-toolbar[color="primary"] {
    position: fixed;
    top: 0;
    z-index: 50;
    box-shadow: 0px 0px 20px #000;
}

.logo {
    height: 80%;
    margin-right: 20px;
}

mat-button-toggle-group {
    margin-left: 16px;
    border: none;
}
mat-button-toggle {
    background-color: #7b1fa2;
    font-size: 16px;
    color: #69f0ae;
    display: flex;
}
mat-button-toggle mat-icon {
    font-size: 20px;
}