mat-toolbar {
    position: absolute;
    bottom: 0;
    height: 40px;
    justify-content: center;
    box-shadow: 0px 0px 10px #000;
}

img {
    height: 80%;
    margin-left: 10px;
}

mat-toolbar * {
    font-size: 16px;
}