<div class="details">
    <h2 class="page-title">Details</h2>
    <mat-card  *ngIf="game">
        <mat-card-title>
            {{ game.name | uppercase }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ game.price | currency:'BRL' }}
        </mat-card-subtitle>
        <img mat-card-image [src]="game.image_url" alt="Game image">
        <mat-card-content>
            <p *ngIf="game.description">{{ game.description }}</p>
            <mat-chip-list aria-label="Categories">
                <mat-chip *ngFor="let category of game.categories"
                    color="primary" selected>
                    {{ category }}
                </mat-chip>
            </mat-chip-list>              
        </mat-card-content>
        <mat-card-actions align="end">
            <app-snackbar-alert [message]='"Você será avisado quando " + game.name + " estiver em promoção!"'>
                AVISAR PROMOÇÃO
            </app-snackbar-alert>
        </mat-card-actions>
    </mat-card>
</div>