<div class="games">
    <h2 class="page-title">Mobile Games</h2>
    <mat-card  *ngFor="let game of mobile_games">
        <mat-card-title-group>
            <mat-card-title>
                {{ game.name | uppercase }}
            </mat-card-title>
            <mat-card-subtitle>
                <p *ngIf="game.description">{{ game.description }}</p>
            </mat-card-subtitle>
            <img mat-card-xl-image [src]="game.small_image_url" alt="Game image">
        </mat-card-title-group>
        <mat-card-actions>
            <button mat-button color="accent" [routerLink]="['/mobile', game.id]">DETALHES</button>
            <app-snackbar-alert [message]='"Você compartilhou " + game.name + " com seus amigos!"'>
                COMPARTILHAR
            </app-snackbar-alert>
        </mat-card-actions>
    </mat-card>
</div>